<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Sample site</title>
   <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href="/css/stye.css">
</head>

<body>
   <div class="main-content">
      {{>header}}

      {{#if userSession}}
         <h1>{{name}}</h1>
         <h1>{{email}}</h1>
      {{else}}
         <h1>Render</h1>
      {{/if}}
      hello

      {{>footer}}

      <script src="./js/app.js"></script>
</body>

</html>